https://github.com/mitya57/python-markdown-math/archive/master.zip
mkdocs>=0.17.1
Pygments>=2.2
pymdown-extensions>=3.4
mdx_truly_sane_lists



# To install these dependancies run `pip3 install -r requirements.txt`
